/WorckWithReestr/*.suo
/WorckWithReestr/WorckWithReestr/bin
/WorckWithReestr/WorckWithReestr/obj
/DemoTestMap/DemoTestMap/bin
/DemoTestMap/DemoTestMap/obj
/DemoTestMap/*.suo
/DemoTest/*.suo
/DemoTest/DemoTest/bin
/DemoTest/DemoTest/obj
